<h3 id="puppet-sidebar-nav">Puppet 3.7 Reference Manual</h3>

<ul>
  <li><a href="{{puppet}}/index.html">Introduction</a></li>
  <li><a href="{{puppet}}/release_notes.html">Puppet Release Notes</a></li>
  <li><a href="{{puppetserver}}/release_notes.html">Puppet Server Release Notes</a></li>
  <li><strong>Deprecated Features</strong>
    <ul>
      <li><a href="{{puppet}}/deprecated_summary.html">About Deprecations in This Version</a></li>
      <li><a href="{{puppet}}/deprecated_language.html">Language Features</a></li>
      <li><a href="{{puppet}}/deprecated_resource.html">Resource Type Features</a></li>
      <li><a href="{{puppet}}/deprecated_api.html">Extension Points and APIs</a></li>
      <li><a href="{{puppet}}/deprecated_command.html">Command Line Features</a></li>
      <li><a href="{{puppet}}/deprecated_settings.html">Settings</a></li>
      <li><a href="{{puppet}}/deprecated_windows_api.html">Breaking Changes to Private Windows APIs</a></li>
      <li><a href="{{puppet}}/deprecated_misc.html">Other Features</a></li>
    </ul>
  </li>

  <li><a href="{{puppet}}/system_requirements.html">System Requirements</a></li>
  <li><a href="{{puppet}}/architecture.html">Overview of Puppet's Architecture</a></li>

  <li><strong>Puppet's Services and Tools</strong>
    <ul>
      <li><a href="{{puppet}}/services_commands.html">Puppet's Commands</a></li>
      <li><a href="{{puppet}}/services_commands_windows.html">Running Puppet Commands on Windows</a></li>
      <li><strong>Puppet Master</strong>
        <ul>
          <li><a href="{{puppetserver}}/services_master_puppetserver.html">Puppet Server</a></li>
          <li><a href="{{puppet}}/services_master_rack.html">The Rack Puppet Master</a></li>
          <li><a href="{{puppet}}/services_master_webrick.html">The WEBrick Puppet Master</a></li>
        </ul>
      </li>
      <li><a href="{{puppet}}/services_agent_unix.html">Puppet Agent on *nix</a></li>
      <li><a href="{{puppet}}/services_agent_windows.html">Puppet Agent on Windows</a></li>
      <li><a href="{{puppet}}/services_apply.html">Puppet Apply</a></li>
    </ul>
  </li>

  <li><strong>The Puppet Language</strong>
    <ul>
      <li><a href="{{puppet}}/lang_visual_index.html">Visual Index</a></li>
      <li><a href="{{puppet}}/lang_summary.html">Basics</a></li>
      <li><a href="{{puppet}}/lang_reserved.html">Reserved Words and Allowed Names</a></li>
      <li><a href="{{puppet}}/lang_resources.html">Resources</a></li>
      <li><a href="{{puppet}}/lang_windows_file_paths.html">Handling File Paths on Windows</a></li>
      <li><a href="{{puppet}}/lang_relationships.html">Relationships and Ordering</a></li>
      <li><a href="{{puppet}}/lang_defaults.html">Resource Defaults</a></li>
      <li><a href="{{puppet}}/lang_variables.html">Variables</a></li>
      <li><a href="{{puppet}}/lang_facts_and_builtin_vars.html">Facts and Built-in Variables</a></li>
      <li><a href="{{puppet}}/lang_scope.html">Scope</a></li>
      <li><a href="{{puppet}}/lang_conditional.html">Conditional Statements</a></li>
      <li><a href="{{puppet}}/lang_expressions.html">Expressions</a></li>
      <li><a href="{{puppet}}/lang_functions.html">Functions</a></li>
      <li><a href="{{puppet}}/lang_classes.html">Classes</a></li>
      <li><a href="{{puppet}}/lang_defined_types.html">Defined Types</a></li>
      <li><a href="{{puppet}}/lang_containment.html">Containment</a></li>
      <li><a href="{{puppet}}/lang_namespaces.html">Namespaces and Autoloading</a></li>
      <li><a href="{{puppet}}/lang_collectors.html">Resource Collectors</a></li>
      <li><a href="{{puppet}}/lang_node_definitions.html">Node Definitions</a></li>
      <li><a href="{{puppet}}/lang_datatypes.html">Data Types</a></li>
      <li><a href="{{puppet}}/lang_comments.html">Comments</a></li>
      <li><a href="{{puppet}}/lang_virtual.html">Virtual Resources</a></li>
      <li><a href="{{puppet}}/lang_exported.html">Exported Resources</a></li>
      <li><a href="{{puppet}}/lang_tags.html">Tags</a></li>
      <li><a href="{{puppet}}/lang_run_stages.html">Run Stages</a></li>
      <li><a href="{{puppet}}/lang_import.html">Importing Manifest Files</a></li>
    </ul>
  </li>

  <li><strong>The Future Puppet Language</strong>
    <ul>
      <li><a href="{{puppet}}/experiments_future.html">Introduction to the Future Parser</a></li>
      <li><a href="{{puppet}}/future_lang_visual_index.html">Visual Index</a></li>
      <li><a href="{{puppet}}/future_lang_summary.html">Basics</a></li>
      <li><a href="{{puppet}}/future_lang_windows_file_paths.html">Handling File Paths on Windows</a></li>
      <li><strong>Core Constructs</strong>
        <ul>
          <li><a href="{{puppet}}/future_lang_variables.html">Variables</a></li>
          <li><a href="{{puppet}}/future_lang_resources.html">Resources</a></li>
          <li><a href="{{puppet}}/future_lang_resources_advanced.html">Resources (Advanced)</a></li>
          <li><a href="{{puppet}}/future_lang_relationships.html">Relationships and Ordering</a></li>
          <li><a href="{{puppet}}/future_lang_classes.html">Classes</a></li>
          <li><a href="{{puppet}}/future_lang_defined_types.html">Defined Resource Types</a></li>
          <li><a href="{{puppet}}/future_lang_expressions.html">Expressions and Operators</a></li>
          <li><a href="{{puppet}}/future_lang_conditional.html">Conditional Statements and Expressions</a></li>
          <li><a href="{{puppet}}/future_lang_functions.html">Functions</a></li>
          <li><a href="{{puppet}}/future_lang_node_definitions.html">Node Definitions</a></li>
          <li><a href="{{puppet}}/future_lang_comments.html">Comments</a></li>
        </ul>
      </li>
      <li><a href="{{puppet}}/future_lang_facts_and_builtin_vars.html">Facts and Built-in Variables</a></li>
      <li><a href="{{puppet}}/future_lang_reserved.html">Reserved Words and Acceptable Names</a></li>
      <li><strong>Values and Data Types</strong>
        <ul>
          <li><a href="{{puppet}}/future_lang_data.html">About Values and Data Types</a></li>
          <li><a href="{{puppet}}/future_lang_data_string.html">Strings</a></li>
          <li><a href="{{puppet}}/future_lang_data_number.html">Numbers</a></li>
          <li><a href="{{puppet}}/future_lang_data_boolean.html">Booleans</a></li>
          <li><a href="{{puppet}}/future_lang_data_array.html">Arrays</a></li>
          <li><a href="{{puppet}}/future_lang_data_hash.html">Hashes</a></li>
          <li><a href="{{puppet}}/future_lang_data_regexp.html">Regular Expressions</a></li>
          <li><a href="{{puppet}}/future_lang_data_undef.html">Undef</a></li>
          <li><a href="{{puppet}}/future_lang_data_resource_reference.html">Resource References</a></li>
          <li><a href="{{puppet}}/future_lang_data_resource_type.html">Resource Types</a></li>
          <li><a href="{{puppet}}/future_lang_data_default.html">Default</a></li>
          <li><a href="{{puppet}}/future_lang_data_type.html">Data Type Syntax</a></li>
          <li><a href="{{puppet}}/future_lang_data_abstract.html">Abstract Data Types</a></li>
        </ul>
      </li>
      <li><strong>Advanced Constructs</strong>
        <ul>
          <li><a href="{{puppet}}/future_lang_iteration.html">Iteration and Loops</a></li>
          <li><a href="{{puppet}}/future_lang_lambdas.html">Lambdas (Code Blocks)</a></li>
          <li><a href="{{puppet}}/future_lang_defaults.html">Resource Defaults</a></li>
          <li><a href="{{puppet}}/future_lang_collectors.html">Resource Collectors</a></li>
          <li><a href="{{puppet}}/future_lang_virtual.html">Virtual Resources</a></li>
          <li><a href="{{puppet}}/future_lang_exported.html">Exported Resources</a></li>
          <li><a href="{{puppet}}/future_lang_tags.html">Tags</a></li>
          <li><a href="{{puppet}}/future_lang_run_stages.html">Run Stages</a></li>
        </ul>
      </li>
      <li><strong>Details of Complex Behaviors</strong>
        <ul>
          <li><a href="{{puppet}}/future_lang_containment.html">Containment of Resources</a></li>
          <li><a href="{{puppet}}/future_lang_scope.html">Scope</a></li>
          <li><a href="{{puppet}}/future_lang_namespaces.html">Namespaces and Autoloading</a></li>
        </ul>
      </li>
    </ul>
  </li>

  <li><strong>Modules</strong>
    <ul>
      <li><a href="{{puppet}}/modules_fundamentals.html">Fundamentals</a></li>
      <li><a href="/guides/plugins_in_modules.html">Plugins in Modules</a></li>
      <li><a href="{{puppet}}/modules_installing.html">Installing Modules</a></li>
      <li><a href="{{puppet}}/modules_publishing.html">Publishing Modules on the Puppet Forge</a></li>
      <li><a href="{{puppet}}/modules_documentation.html">Module Documentation</a></li>
    </ul>
  </li>

  <li><a href="{{puppet}}/type.html">The Resource Type Reference</a></li>

  <li><strong>Resource Types: Tips and Examples</strong>
    <ul>
      <li><a href="{{puppet}}/resources_service.html">Service Resources (All OSes)</a></li>
      <li><a href="{{puppet}}/resources_file_windows.html">File Resources (Windows)</a></li>
      <li><a href="{{puppet}}/resources_package_windows.html">Package Resources (Windows)</a></li>
      <li><a href="{{puppet}}/resources_user_group_windows.html">User and Group Resources (Windows)</a></li>
      <li><a href="{{puppet}}/resources_scheduled_task_windows.html">Scheduled Task Resources (Windows)</a></li>
      <li><a href="{{puppet}}/resources_exec_windows.html">Exec Resources (Windows)</a></li>
      <li><a href="{{puppet}}/resources_windows_optional.html">Optional Resource Types for Windows</a></li>
    </ul>
  </li>

  <li><strong>Misc. References (Settings, Functions, HTTP, etc.)</strong>
    <ul>
      <li><a href="{{puppet}}/configuration.html">Settings (Configuration Reference)</a></li>
      <li><a href="{{puppet}}/function.html">Functions</a></li>
      <li><a href="{{puppet}}/metaparameter.html">Metaparameters</a></li>
      <li><a href="{{puppet}}/report.html">Report Handlers</a></li>
      <li><a href="{{puppet}}/indirection.html">Indirections and Termini</a></li>
      <li><a href="{{puppet}}/yard/frames.html">Ruby API for Developing Extensions</a></li>
      <li><a href="{{puppet}}/yard/file.http_api_index.html">Puppet's HTTP API</a></li>
    </ul>
  </li>

  <li><strong>Man Pages</strong>
    <ul>

      <li><a href="{{puppet}}/man/index.html">Index</a></li>
      <li><strong>Core Tools</strong>
        <ul>
          <li><a href="{{puppet}}/man/agent.html">puppet agent</a></li>
          <li><a href="{{puppet}}/man/apply.html">puppet apply</a></li>
          <li><a href="{{puppet}}/man/cert.html">puppet cert</a></li>
          <li><a href="{{puppet}}/man/master.html">puppet master</a></li>
          <li><a href="{{puppet}}/man/module.html">puppet module</a></li>
          <li><a href="{{puppet}}/man/resource.html">puppet resource</a></li>
        </ul>
      </li>

      <li><strong>Occasionally Useful</strong>
        <ul>
          <li><a href="{{puppet}}/man/config.html">puppet config</a></li>
          <li><a href="{{puppet}}/man/describe.html">puppet describe</a></li>
          <li><a href="{{puppet}}/man/device.html">puppet device</a></li>
          <li><a href="{{puppet}}/man/doc.html">puppet doc</a></li>
          <li><a href="{{puppet}}/man/help.html">puppet help</a></li>
          <li><a href="{{puppet}}/man/man.html">puppet man</a></li>
          <li><a href="{{puppet}}/man/node.html">puppet node</a></li>
          <li><a href="{{puppet}}/man/parser.html">puppet parser</a></li>
          <li><a href="{{puppet}}/man/plugin.html">puppet plugin</a></li>
        </ul>
      </li>

      <li><strong>Niche</strong>
        <ul>
          <li><a href="{{puppet}}/man/ca.html">puppet ca</a></li>
          <li><a href="{{puppet}}/man/catalog.html">puppet catalog</a></li>
          <li><a href="{{puppet}}/man/certificate.html">puppet certificate</a></li>
          <li><a href="{{puppet}}/man/certificate_request.html">puppet certificate_request</a></li>
          <li><a href="{{puppet}}/man/certificate_revocation_list.html">puppet certificate_revocation_list</a></li>
          <li><a href="{{puppet}}/man/facts.html">puppet facts</a></li>
          <li><a href="{{puppet}}/man/file.html">puppet file</a></li>
          <li><a href="{{puppet}}/man/filebucket.html">puppet filebucket</a></li>
          <li><a href="{{puppet}}/man/inspect.html">puppet inspect</a></li>
          <li><a href="{{puppet}}/man/instrumentation_data.html">puppet instrumentation_data</a></li>
          <li><a href="{{puppet}}/man/instrumentation_listener.html">puppet instrumentation_listener</a></li>
          <li><a href="{{puppet}}/man/instrumentation_probe.html">puppet instrumentation_probe</a></li>
          <li><a href="{{puppet}}/man/key.html">puppet key</a></li>
          <li><a href="{{puppet}}/man/report.html">puppet report</a></li>
          <li><a href="{{puppet}}/man/resource_type.html">puppet resource_type</a></li>
          <li><a href="{{puppet}}/man/secret_agent.html">puppet secret_agent</a></li>
          <li><a href="{{puppet}}/man/status.html">puppet status</a></li>
        </ul>
      </li>

      <li><strong>Deprecated</strong>
        <ul>
          <li><a href="{{puppet}}/man/kick.html">puppet kick</a></li>
          <li><a href="{{puppet}}/man/queue.html">puppet queue</a></li>
        </ul>
      </li>

    </ul>
  </li>

  <li><strong>Important Directories and Files</strong>
    <ul>
      <li><a href="{{puppet}}/dirs_confdir.html">The Main Config Directory (Confdir)</a></li>
      <li><a href="{{puppet}}/dirs_manifest.html">The Main Manifest(s)</a></li>
      <li><a href="{{puppet}}/dirs_modulepath.html">The Modulepath</a></li>
      <li><a href="{{puppet}}/dirs_ssldir.html">The SSLdir</a></li>
      <li><a href="{{puppet}}/dirs_vardir.html">The Vardir</a></li>
    </ul>
  </li>
  <li><strong>Environments</strong>
    <ul>
      <li><a href="{{puppet}}/environments.html">About Environments</a></li>
      <li><a href="{{puppet}}/environments_configuring.html">Configuring Directory Environments</a></li>
      <li><a href="{{puppet}}/environments_creating.html">Creating Directory Environments</a></li>
      <li><a href="{{puppet}}/environments_assigning.html">Assigning Environments to Nodes</a></li>
      <li><a href="{{puppet}}/environments_classic.html">Using Config File Environments (deprecated)</a></li>
      <li><a href="{{puppet}}/environments_suggestions.html">Suggestions for Use</a></li>
      <li><a href="{{puppet}}/environments_limitations.html">Limitations of Environments</a></li>
      <li><a href="{{puppet}}/environments_https.html">Environments and Puppet's HTTPS Interface</a></li>
    </ul>
  </li>
  <li><strong>Configuration</strong>
    <ul>
      <li><a href="{{puppet}}/config_about_settings.html">About Puppet's Settings</a></li>
      <li><a href="{{puppet}}/config_print.html">Checking Values of Settings</a></li>
      <li><a href="{{puppet}}/config_set.html">Editing Settings on the Command Line</a></li>
      <li><a href="{{puppet}}/config_important_settings.html">Short List of Important Settings</a></li>
      <li><a href="{{puppet}}/configuration.html">Complete List of Settings (Configuration Reference)</a></li>
      <li><a href="{{puppetserver}}/puppet_conf_setting_diffs.html">Settings that Differ Under Puppet Server</a></li>
      <li><strong>Config Files</strong>
        <ul>
          <li><a href="{{puppet}}/config_file_main.html">puppet.conf: The Main Config File</a></li>
          <li><a href="{{puppetserver}}/configuration.html">Puppet Server's Config Files</a></li>
          <li><a href="{{puppet}}/config_file_auth.html">The auth.conf File</a></li>
          <li><a href="{{puppet}}/config_file_autosign.html">The autosign.conf File</a></li>
          <li><a href="{{puppet}}/config_file_csr_attributes.html">The csr_attributes.yaml File</a></li>
          <li><a href="{{puppet}}/config_file_device.html">The device.conf File</a></li>
          <li><a href="{{puppet}}/config_file_environment.html">The environment.conf Files</a></li>
          <li><a href="{{puppet}}/config_file_fileserver.html">The fileserver.conf File</a></li>
          <li><a href="{{puppet}}/config_file_hiera.html">The hiera.yaml File</a></li>
          <li><a href="{{puppet}}/config_file_puppetdb.html">The puppetdb.conf File</a></li>
          <li><a href="{{puppet}}/config_file_routes.html">The routes.yaml File</a></li>
          <li><a href="{{puppet}}/config_file_tagmail.html">The tagmail.conf File</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><strong>SSL and Certificates</strong>
    <ul>
      <li><a href="{{puppet}}/config_ssl_external_ca.html">Using an External CA</a></li>
      <li><a href="{{puppetserver}}/external_ca_configuration.html">Using an External CA With Puppet Server</a></li>
      <li><a href="{{puppetserver}}/external_ssl_termination.html">External SSL Termination With Puppet Server</a></li>
      <li><a href="{{puppet}}/ssl_autosign.html">Configuring Autosigning</a></li>
      <li><a href="{{puppet}}/ssl_attributes_extensions.html">CSR Attributes and Certificate Extensions</a></li>
      <li><a href="{{puppet}}/ssl_regenerate_certificates.html">Regenerating All Certificates in a Deployment</a></li>
    </ul>
  </li>

  <li><strong>Data Formats</strong>
    <ul>
      <li><a href="{{puppet}}/format_report.html">Report Format</a></li>
    </ul>
  </li>

  <li><strong>Details About Puppet's Internals</strong>
    <ul>
      <li><a href="{{puppet}}/subsystem_agent_master_comm.html">Agent/Master HTTPS Communications</a></li>
      <li><a href="{{puppet}}/subsystem_catalog_compilation.html">Catalog Compilation</a></li>
    </ul>
  </li>
  <li><strong>Experimental Features</strong>
    <ul>
      <li><a href="{{puppet}}/experiments_overview.html">Overview</a></li>
      <li><a href="{{puppet}}/experiments_msgpack.html">Msgpack Support</a></li>
      <li><a href="{{puppet}}/experiments_cfacter.html">Native Facter</a></li>
    </ul>
  </li>
</ul>
