<h2 id="puppetdb">PuppetDB 0.9</h2>

<ul>
  <li><a href="{{puppetdb}}/index.html">Overview</a></li>
  <li><a href="{{puppetdb}}/requirements.html">System Requirements</a></li>
  <li><a href="{{puppetdb}}/known_issues.html">Known Issues</a></li>
  <li><a href="{{puppetdb}}/install.html">Installing from Packages</a></li>
  <li><a href="{{puppetdb}}/install_from_source.html">Installing from Source</a></li>
  <li><a href="{{puppetdb}}/connect_puppet.html">Connecting Puppet to PuppetDB</a></li>
  <li><a href="{{puppetdb}}/maintain_and_tune.html">Maintaining and Tuning</a></li>
  <li><a href="{{puppetdb}}/configure.html">Configuring</a></li>
  <li><a href="{{puppetdb}}/using.html">Using PuppetDB</a></li>
  <li><a href="{{puppetdb}}/repl.html">Debugging with the Remote REPL</a></li>
  <li><strong>PuppetDB API Spec</strong>
    <ul>
      <li><a href="{{puppetdb}}/spec_commands.html">Commands</a></li>
      <li><a href="{{puppetdb}}/spec_q_node.html">Querying Nodes</a></li>
      <li><a href="{{puppetdb}}/spec_q_facts.html">Querying Facts</a></li>
      <li><a href="{{puppetdb}}/spec_q_resource.html">Querying Resources</a></li>
      <li><a href="{{puppetdb}}/spec_q_status.html">Querying Status</a></li>
      <li><a href="{{puppetdb}}/spec_q_metrics.html">Querying Metrics</a></li>
      <li><a href="{{puppetdb}}/spec_catalog_wire_format.html">Catalog Wire Format</a></li>
      <li><a href="{{puppetdb}}/spec_facts_wire_format.html">Facts Wire Format</a></li>
    </ul>
  </li>
</ul>
